# Back-End Variables
DATABASE_URL=postgresql://user:password@localhost:5432/promptskill_db
FLASK_APP_KEY="any key works"
FLASK_APP=src/app.py
FLASK_DEBUG=1
DEBUG=TRUE
JWT_SECRET_KEY="super-secret-jwt-key-change-in-production"
GROQ_API_KEY="tu-api-key-de-console.groq.com"
GROQ_MODEL=llama-3.3-70b-versatile

# Front-End Variables
VITE_BASENAME=/
VITE_BACKEND_URL=http://localhost:3001
